/* 
Theme Name:		Hello Elementor Child
Theme URI:		https://elementor.com/
Description:	Hello Elementor Child is a child theme of Hello Elementor, created by Elementor team
Author:			Elementor Team
Author URI:		https://elementor.com/
Template:		hello-elementor
Version:		1.0.0
Text Domain:	hello-elementor-child
Tags:           flexible-header, custom-colors, custom-menu, custom-logo, editor-style, featured-images, rtl-language-support, threaded-comments, translation-ready
*/

/*
    Add your custom styles here
*/

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.elementor-226{
    margin-top:-108px;
}
.site-branding,.site-navigation{
    z-index:999;
}
.product_list_widget {
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.product_list_widget li{
    text-align:center;
}
.product_list_widget .product-title{
    color:#333;
    font-weight:400;
    padding:0;
    font-size:1.5em!important;
}
.site-navigation ul.menu li a {
    display: block;
    padding: 8px 15px;
    font-size: 18px;
    color:#FF6868;
    text-transform:uppercase;
    transition:transform 0.5s ease-in-out;
}
.site-navigation ul.menu li a:hover {
   color:#333;
   transform: scale(1.1);
}
.woocommerce-loop-category__title,.woocommerce-loop-product__title{
    text-align:center;
    text-transform:uppercase;
    color:#333;
    font-weight:400;
    padding:0;
    font-size:1.5em!important;
}
.woocommerce-loop-category__title mark{
    display:none;
}
.woocommerce-products-header{
    display:none;
}
.woocommerce-loop-product__link .price{
    text-align:center;
    color:#333!important;
}
ul.products li.product .button{
    display:none;
}
.woocommerce .woocommerce-breadcrumb {
    margin: 0 0 1em;
    padding: 10px 0;
    font-size: 1.5em;
    color: #777;
    text-transform: uppercase;
}
.woocommerce-breadcrumb a{
    color:#FF6868!important; 
}
.woocommerce-breadcrumb a:hover{
    color:#333; 
}
.product_meta{
    visibility:hidden;
}
.woocommerce-variation-add-to-cart .quantity{
    display:none;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
    background:#FF6868;
    width:100%;
}


.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover{
    background:#FF6868;
}

@media (min-width: 1200px) {
.site-header, body:not([class*=elementor-page-]) .site-main {
    max-width: 1140px!important;
}
}